html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    padding: 30px;
    margin: 0 auto;
    max-width: 800px;
    /* background-image: url("../images/backgroundPicture.jpg"); */
}


